In [1]:
#import dependency
import pandas as pd

In [2]:
# reading two csv files
homeless_pit_df = pd.read_csv('Resources/2020-PIT-Estimates-by-state_cleaned.csv')
unemployment_df = pd.read_csv('Resources/unemployment_data_us_state_cleaned.csv')
  
# using merge function by setting how='inner'
merge = pd.merge(homeless_pit_df, unemployment_df, 
                   on='State', 
                   how='inner')
  
# displaying result
merge.head(55)

,Unnamed: 0_x,State,Overall_Homeless,Under_18,Age_18_to_24,Age_24_and_over,Female,Male,Transgender,Unnamed: 0_y,Unemployment_Rate,Unemployment_Rank
0,0,Alaska,"1,949",326,197,"1,426",828,"1,114",3,32,7.8,31
1,1,Alabama,"3,351",528,198,"2,625","1,294","1,988",9,11,5.9,10
2,2,Arkansas,"2,366",195,258,"1,913",798,"1,561",5,14,6.1,13
3,4,Arizona,"10,979","1,722",824,"8,433","4,228","6,694",43,34,7.9,33
4,5,California,"161,548","16,141","13,391","132,016","53,505","105,737","1,601",50,10.1,49
5,6,Colorado,"9,846","1,364",734,"7,748","3,198","6,562",53,26,7.3,25
6,7,Connecticut,"2,905",585,208,"2,112","1,107","1,785",6,35,7.9,33
7,9,Delaware,"1,165",266,71,828,463,701,0,33,7.8,31
8,10,Florida,"27,487","4,637","1,588","21,262","9,743","17,670",52,31,7.7,30
9,11,Georgia,"10,234","1,667",530,"8,037","3,743","6,340",44,21,6.5,20
10,13,Hawaii,"6,458","1,101",396,"4,961","2,521","3,874",36,51,11.6,50
11,14,Iowa,"2,647",535,200,"1,912",993,"1,642",9,6,5.3,5
12,15,Idaho,"2,315",592,149,"1,574","1,035","1,276",3,7,5.4,6
13,16,Illinois,"10,431","2,212",958,"7,261","4,300","6,096",32,46,9.5,45
14,17,Indiana,"5,625",978,352,"4,295","2,182","3,420",16,25,7.1,24
15,18,Kansas,"2,449",407,213,"1,829",928,"1,516",3,12,5.9,10
16,19,Kentucky,"4,011",581,268,"3,162","1,607","2,393",8,22,6.6,21
17,20,Louisiana,"3,173",396,275,"2,502",967,"2,192",11,39,8.3,38
18,21,Massachusetts,"17,975","7,092","1,404","9,479","8,891","9,039",33,43,8.9,42
19,22,Maryland,"6,360","1,215",346,"4,799","2,568","3,753",31,24,6.8,23
20,23,Maine,"2,097",480,149,"1,468",940,"1,143",8,8,5.4,6
21,24,Michigan,"8,638","2,239",658,"5,741","3,770","4,855",8,48,9.9,47
22,25,Minnesota,"7,940","2,140",932,"4,868","3,408","4,485",25,17,6.2,16
23,26,Missouri,"6,527","1,482",693,"4,352","2,952","3,540",23,15,6.1,13
24,28,Mississippi,"1,107",165,53,889,395,709,3,37,8.1,36
25,29,Montana,"1,545",328,98,"1,119",630,896,10,13,5.9,10
26,30,North Carolina,"9,280","1,634",561,"7,085","3,614","5,646",18,27,7.3,25
27,31,North Dakota,541,115,46,380,226,314,1,5,5.1,4
28,32,Nebraska,"2,404",463,181,"1,760",897,"1,501",6,2,4.2,1
29,33,New Hampshire,"1,675",373,118,"1,184",735,935,5,23,6.7,22
30,34,New Jersey,"9,662","2,053",717,"6,892","4,030","5,614",14,47,9.8,46
31,35,New Mexico,"3,333",482,221,"2,630","1,197","2,103",19,41,8.4,40
32,36,Nevada,"6,900",383,549,"5,968","2,050","4,839",11,52,12.8,51
33,37,New York,"91,271","27,968","8,199","55,104","41,881","48,905",442,49,10.0,48
34,38,Ohio,"10,655","1,999",842,"7,814","4,210","6,400",43,38,8.1,36
35,39,Oklahoma,"3,932",490,305,"3,137","1,402","2,500",24,16,6.1,13
36,40,Oregon,"14,655","2,030",944,"11,681","5,443","9,072",72,29,7.6,28
37,41,Pennsylvania,"13,375","3,048","1,000","9,327","5,388","7,910",60,44,9.1,43
38,43,Rhode Island,"1,104",238,48,818,431,667,5,45,9.4,44
39,44,South Carolina,"4,287",518,256,"3,513","1,579","2,699",5,18,6.2,16
40,45,South Dakota,"1,058",215,83,760,448,607,3,3,4.6,2
41,46,Tennessee,"7,256",998,397,"5,861","2,602","4,637",14,28,7.5,27
42,47,Texas,"27,229","4,048","1,663","21,518","10,080","17,067",61,30,7.6,28
43,48,Utah,"3,131",635,239,"2,257","1,250","1,863",14,4,4.7,3
44,49,Virginia,"5,957","1,266",360,"4,331","2,395","3,547",12,19,6.2,16
45,51,Vermont,"1,110",216,127,767,498,600,8,9,5.6,8
46,52,Washington,"22,923","4,115","1,913","16,895","9,426","13,094",175,42,8.4,40
47,53,Wisconsin,"4,515","1,196",293,"3,026","1,887","2,615",13,20,6.3,19
48,54,West Virginia,"1,341",122,115,"1,104",522,818,1,40,8.3,38
49,55,Wyoming,612,143,92,377,268,344,0,10,5.8,9

In [3]:
#drop the imported indexes
merge.drop(merge.columns[0], inplace=True, axis=1)
merge.drop(merge.columns[8], inplace=True, axis=1)
merge.head(4)

,State,Overall_Homeless,Under_18,Age_18_to_24,Age_24_and_over,Female,Male,Transgender,Unemployment_Rate,Unemployment_Rank
0,Alaska,"1,949",326,197,"1,426",828,"1,114",3,7.8,31
1,Alabama,"3,351",528,198,"2,625","1,294","1,988",9,5.9,10
2,Arkansas,"2,366",195,258,"1,913",798,"1,561",5,6.1,13
3,Arizona,"10,979","1,722",824,"8,433","4,228","6,694",43,7.9,33

In [6]:
#reorder columns 
merged_data = merge[["State", "Unemployment_Rate","Unemployment_Rank", "Under_18", "Age_18_to_24", "Age_24_and_over",
                     "Female", "Male", "Transgender", "Overall_Homeless"]]
merged_data.head(60)

,State,Unemployment_Rate,Unemployment_Rank,Under_18,Age_18_to_24,Age_24_and_over,Female,Male,Transgender,Overall_Homeless
0,Alaska,7.8,31,326,197,"1,426",828,"1,114",3,"1,949"
1,Alabama,5.9,10,528,198,"2,625","1,294","1,988",9,"3,351"
2,Arkansas,6.1,13,195,258,"1,913",798,"1,561",5,"2,366"
3,Arizona,7.9,33,"1,722",824,"8,433","4,228","6,694",43,"10,979"
4,California,10.1,49,"16,141","13,391","132,016","53,505","105,737","1,601","161,548"
5,Colorado,7.3,25,"1,364",734,"7,748","3,198","6,562",53,"9,846"
6,Connecticut,7.9,33,585,208,"2,112","1,107","1,785",6,"2,905"
7,Delaware,7.8,31,266,71,828,463,701,0,"1,165"
8,Florida,7.7,30,"4,637","1,588","21,262","9,743","17,670",52,"27,487"
9,Georgia,6.5,20,"1,667",530,"8,037","3,743","6,340",44,"10,234"
10,Hawaii,11.6,50,"1,101",396,"4,961","2,521","3,874",36,"6,458"
11,Iowa,5.3,5,535,200,"1,912",993,"1,642",9,"2,647"
12,Idaho,5.4,6,592,149,"1,574","1,035","1,276",3,"2,315"
13,Illinois,9.5,45,"2,212",958,"7,261","4,300","6,096",32,"10,431"
14,Indiana,7.1,24,978,352,"4,295","2,182","3,420",16,"5,625"
15,Kansas,5.9,10,407,213,"1,829",928,"1,516",3,"2,449"
16,Kentucky,6.6,21,581,268,"3,162","1,607","2,393",8,"4,011"
17,Louisiana,8.3,38,396,275,"2,502",967,"2,192",11,"3,173"
18,Massachusetts,8.9,42,"7,092","1,404","9,479","8,891","9,039",33,"17,975"
19,Maryland,6.8,23,"1,215",346,"4,799","2,568","3,753",31,"6,360"
20,Maine,5.4,6,480,149,"1,468",940,"1,143",8,"2,097"
21,Michigan,9.9,47,"2,239",658,"5,741","3,770","4,855",8,"8,638"
22,Minnesota,6.2,16,"2,140",932,"4,868","3,408","4,485",25,"7,940"
23,Missouri,6.1,13,"1,482",693,"4,352","2,952","3,540",23,"6,527"
24,Mississippi,8.1,36,165,53,889,395,709,3,"1,107"
25,Montana,5.9,10,328,98,"1,119",630,896,10,"1,545"
26,North Carolina,7.3,25,"1,634",561,"7,085","3,614","5,646",18,"9,280"
27,North Dakota,5.1,4,115,46,380,226,314,1,541
28,Nebraska,4.2,1,463,181,"1,760",897,"1,501",6,"2,404"
29,New Hampshire,6.7,22,373,118,"1,184",735,935,5,"1,675"
30,New Jersey,9.8,46,"2,053",717,"6,892","4,030","5,614",14,"9,662"
31,New Mexico,8.4,40,482,221,"2,630","1,197","2,103",19,"3,333"
32,Nevada,12.8,51,383,549,"5,968","2,050","4,839",11,"6,900"
33,New York,10.0,48,"27,968","8,199","55,104","41,881","48,905",442,"91,271"
34,Ohio,8.1,36,"1,999",842,"7,814","4,210","6,400",43,"10,655"
35,Oklahoma,6.1,13,490,305,"3,137","1,402","2,500",24,"3,932"
36,Oregon,7.6,28,"2,030",944,"11,681","5,443","9,072",72,"14,655"
37,Pennsylvania,9.1,43,"3,048","1,000","9,327","5,388","7,910",60,"13,375"
38,Rhode Island,9.4,44,238,48,818,431,667,5,"1,104"
39,South Carolina,6.2,16,518,256,"3,513","1,579","2,699",5,"4,287"
40,South Dakota,4.6,2,215,83,760,448,607,3,"1,058"
41,Tennessee,7.5,27,998,397,"5,861","2,602","4,637",14,"7,256"
42,Texas,7.6,28,"4,048","1,663","21,518","10,080","17,067",61,"27,229"
43,Utah,4.7,3,635,239,"2,257","1,250","1,863",14,"3,131"
44,Virginia,6.2,16,"1,266",360,"4,331","2,395","3,547",12,"5,957"
45,Vermont,5.6,8,216,127,767,498,600,8,"1,110"
46,Washington,8.4,40,"4,115","1,913","16,895","9,426","13,094",175,"22,923"
47,Wisconsin,6.3,19,"1,196",293,"3,026","1,887","2,615",13,"4,515"
48,West Virginia,8.3,38,122,115,"1,104",522,818,1,"1,341"
49,Wyoming,5.8,9,143,92,377,268,344,0,612

In [7]:
#check data types
merged_data.dtypes

State                 object
Unemployment_Rate    float64
Unemployment_Rank      int64
Under_18              object
Age_18_to_24          object
Age_24_and_over       object
Female                object
Male                  object
Transgender           object
Overall_Homeless      object
dtype: object

In [8]:
# remove all commas in order to convert object to int
df = merged_data.replace(',','', regex=True)
#  convert the some of the objects to int
df .loc[:, "Under_18"] = df .loc[:, "Under_18"].astype("int")
df .loc[:, "Age_18_to_24"] = df .loc[:, "Age_18_to_24"].astype("int")
df .loc[:, "Age_24_and_over"] = df .loc[:, "Age_24_and_over"].astype("int")
df .loc[:, "Female"] = df .loc[:, "Female"].astype("int")
df .loc[:, "Male"] = df .loc[:, "Male"].astype("int")
df .loc[:, "Transgender"] = df .loc[:, "Transgender"].astype("int")
df .loc[:, "Overall_Homeless"] = df .loc[:, "Overall_Homeless"].astype("int")
#check data type
df.dtypes

State                 object
Unemployment_Rate    float64
Unemployment_Rank      int64
Under_18               int32
Age_18_to_24           int32
Age_24_and_over        int32
Female                 int32
Male                   int32
Transgender            int32
Overall_Homeless       int32
dtype: object

In [9]:
#export cleaned data to csv format
df.to_csv(r'Resources\homeless_vs_unemployment_merged.csv', index = True)