# Import dependencies

In [ ]:
from sqlalchemy import create_engine
import pandas as pd
import matplotlib.pyplot as plt

# Create and connect engine

engine = create_engine('postgresql://postgres:PostGresPasscode@localhost/2020Homelessness')
connection = engine.connect()

# Transform data from the database into pandas

In [2]:
homelessness_unemployment=pd.read_sql("SELECT * FROM homelessnessdb", connection)
homelessness_unemployment.head()

,state_id,state,unemployment_rate,unemployment_rank,under_18,age_18_to_24,age_24_and_over,female,male,transgender,overall_homeless
0,0,Alaska,7.8,31,326,197,1426,828,1114,3,1949
1,1,Alabama,5.9,10,528,198,2625,1294,1988,9,3351
2,2,Arkansas,6.1,13,195,258,1913,798,1561,5,2366
3,3,Arizona,7.9,33,1722,824,8433,4228,6694,43,10979
4,4,California,10.1,49,16141,13391,132016,53505,105737,1601,161548