In [4]:
import numpy as np
import pandas as pd
from scipy.stats import linregress

In [5]:
# import Unemployment 
unemployment_data = pd.read_csv("Resources/unemployment_data_us_state.csv")
# identify any null values
unemployment_data.count()
# identify the data type
unemployment_data.dtypes
print(unemployment_data.isna().sum())

State                0
Month                0
Unemployment_Rate    1
Date                 0
dtype: int64

In [6]:
# drop any null valules - lets not drop the null values
unemployment_data = unemployment_data.dropna(how="any")
print(unemployment_data.count())

State                155
Month                155
Unemployment_Rate    155
Date                 155
dtype: int64

In [8]:
unemployment_data.head(160)

             State Month  Unemployment_Rate      Date
0          Alabama   Jan                2.7  Jan-2020
1           Alaska   Jan                6.0  Jan-2020
2          Arizona   Jan                4.5  Jan-2020
3         Arkansas   Jan                3.5  Jan-2020
4       California   Jan                3.9  Jan-2020
..             ...   ...                ...       ...
150       Virginia   Mar                3.3  Mar-2020
151     Washington   Mar                5.1  Mar-2020
152  West Virginia   Mar                6.1  Mar-2020
153      Wisconsin   Mar                3.4  Mar-2020
154        Wyoming   Mar                3.7  Mar-2020

[155 rows x 4 columns]